streamlit
langchain
langchain-core
langchain-groq
langchain-huggingface
langchain-chroma
langchain-community
langchain-text-splitters
chromadb
python-dotenv
groq
sentence-transformers
beautifulsoup4
pypdf
bs4
lxml
onnxruntime
onnx